In [197]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [198]:
df = pd.read_csv('format_AAPL.csv')

In [199]:
df.head()

         Date  Close/Last     Volume    Open    High     Low
0  2020-02-28      273.36  106721200  257.26  278.41  256.37
1  2020-02-27      273.52   80151380  281.10  286.00  272.96
2  2020-02-26      292.65   49678430  286.53  297.88  286.50
3  2020-02-25      288.08   57668360  300.95  302.53  286.13
4  2020-02-24      298.18   55548830  297.26  304.18  289.23

In [200]:
df['Open - Close'] = df['Open'] - df['Close/Last']

In [201]:
df['High - Low'] = df['High'] - df['Low']

In [202]:
df = df.dropna()

In [203]:
df.head()

,Date,Close/Last,Volume,Open,High,Low,Open - Close,High - Low
0,2020-02-28,273.36,106721200,257.26,278.41,256.37,-16.10,22.04
1,2020-02-27,273.52,80151380,281.10,286.00,272.96,7.58,13.04
2,2020-02-26,292.65,49678430,286.53,297.88,286.50,-6.12,11.38
3,2020-02-25,288.08,57668360,300.95,302.53,286.13,12.87,16.40
4,2020-02-24,298.18,55548830,297.26,304.18,289.23,-0.92,14.95

In [204]:
df['High'].corr(df['Low'])

0.9997557699297196

In [205]:
df['Open'].corr(df['Close/Last'])

0.9996532205407405

In [206]:
x = df[['Open', 'High', 'Low', 'Open - Close', 'High - Low']]

In [207]:
y = df['Close/Last']

In [208]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 44)

In [209]:
scaler = StandardScaler()

In [210]:
x_train = scaler.fit_transform(x_train)

In [211]:
x_test = scaler.transform(x_test)

In [212]:
knn = neighbors.KNeighborsRegressor(n_neighbors=5)

In [213]:
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [214]:
prediction = knn.predict(x_test)

In [218]:
mse = mean_squared_error(y_test, prediction)

In [219]:
r2 = r2_score(y_test, prediction)

In [220]:
print("Mean Squared Error (MSE):", mse)
print("R-squared (R^2):", r2)

Mean Squared Error (MSE): 21.831018126290154
R-squared (R^2): 0.9938840013435644

In [224]:
for k in range(1, 21):
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(x_train, y_train)
    pred = knn.predict(x_test)
    mse = mean_squared_error(y_test, pred)
    print("k =", k, "MSE =", mse)

k = 1 MSE = 22.623433218317462
k = 2 MSE = 26.0438410477381
k = 3 MSE = 19.577420847573194
k = 4 MSE = 23.85876892253571
k = 5 MSE = 21.831018126290154
k = 6 MSE = 25.972381191403866
k = 7 MSE = 26.448852599970504
k = 8 MSE = 25.061478249148323
k = 9 MSE = 24.511947946036265
k = 10 MSE = 24.494210608040643
k = 11 MSE = 21.800491115580748
k = 12 MSE = 25.927559472115306
k = 13 MSE = 24.674833514868894
k = 14 MSE = 26.0148988453164
k = 15 MSE = 27.356453460497423
k = 16 MSE = 29.785254138078432
k = 17 MSE = 29.69424877781024
k = 18 MSE = 30.894532131103325
k = 19 MSE = 30.500068660071367
k = 20 MSE = 32.33192544687476

In [225]:
predict_data = pd.DataFrame({'Actual Price':y_test, 'Predicted Price':prediction})

In [226]:
predict_data

      Actual Price  Predicted Price
213       205.2800        202.86600
1792       69.4171         71.25700
1015       98.1200         98.28600
303       170.9500        169.95000
2229       48.2657         48.27470
...            ...              ...
2502       32.1071         34.06744
79        257.5000        261.53200
35        303.1900        298.08400
656       150.3400        147.89600
1072      117.7500        114.30800

[630 rows x 2 columns]